body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.root {
	width: 345px;
	margin-top: 234px;

	display: flex;
	flex-direction: column;
}

.card {
	width: 392px;
	height: 524px;
	border-radius: 16px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.card>span {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	position: absolute;
	top: 12px;
	right: 12px;
}

.deck-title {
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;

	margin-top: 80px;
}

.flip-button {
	position: absolute;
	right: 12px;
	bottom: 12px;
}

button {
	border: solid 1px #FFEF61;
}


header>img {
	width: 141px;

	position: fixed;
	top: 26px;
	left: 26px; 
}

h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
}